body {
  background: #FFFFFF;
}

#text-container {
  width: 400px;
  position: absolute;
  top: 35%;
  left: 65%;
}

.text {
  font-family: 'Kulim Park', sans-serif;
  font-size: 25px;
  text-align: right;
}

.hello {
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.picture {
  width: 200px;
  opacity: 1;
}

.card:hover {
  cursor: pointer;
}

.description {
  position: absolute;
  display: none;
}

.card {
  position:absolute;
}

#portrait {
  top: 10%;
  left: 15%;
}

#abtdes {
  margin-top: -130px;
  margin-left: 20px;
}

#lights {
  top: 20%;
  left: 35%;
}

#advdes {
  margin-top: -120px;
  margin-left: 50px;
}

#syria {
  top: 75%;
  left: 10%;
}

#projdes {
  margin-top: -50px;
  margin-left: 50px;
}

#art {
  top: 50%;
  left: 33%;
}

#artdes {
  margin-top: -50px;
  margin-left: 50px;
}
