body {
  background: #F6F6F6;
}

#header-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.tab {
  height: 30px;
  width: 190px;
  margin-right: 30px;
  padding-top: 10px;
  background: #D6D6D6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

#isis-header:hover {
  color: white;
  background: #000000;

}

#governmentheader:hover {
  color: white;
  background: #EB8A8A;
}

#opposition-header:hover {
  color: white;
  background: #74DB7B;
}

#islamist-header:hover {
  color: white;
  background: #848a86;
}

#kurds-header:hover {
  color: white;
  background: #E0E069;
}

#international:hover {
  color: white;
  background: #89C9F0;
}

#foreign-container1 {
  width: 340px;
  height: 95px;
  border-radius: 25px;
  border-width: 4px;
  border-style: solid;
  border-color: #D6D6D6;
  background: #F6F6F6;

  margin-top: 30px;
  margin-left: 110px;
  margin-right: 300px;
  display: flex;
  justify-content: center;
}

#foreign-container2 {
  width: 110px;
  height: 95px;
  border-radius: 25px;
  border-width: 4px;
  border-style: solid;
  border-color: #D6D6D6;
  background: #F6F6F6;

  margin-top: 90px;
  margin-left: 920px;
  display: flex;
  justify-content: center;
}

#foreign-container3 {
  width: 230px;
  height: 105px;
  border-radius: 25px;
  border-width: 4px;
  border-style: solid;
  border-color: #D6D6D6;
  background: #F6F6F6;

  margin-top: -110px;
  margin-left: 1100px;
  display: flex;
  justify-content: center;
}


.foreign {
  margin-top: 15px;
  margin-right: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.country {
  margin-top: 5px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  width: 105px;
}

.flag {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.flag:hover {
  -webkit-filter: none;
  filter: none;
}

#government-container {
  width: 380px;
  height: 400px;
  border-radius: 25px;
  border-width: 4px;
  border-style: solid;
  border-color: #D6D6D6;
  background: #F6F6F6;


  margin-top: 70px;
  margin-left: 50px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.government {
  margin-left: 15px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#kurds-container {
  width: 290px;
  height: 270px;
  border-radius: 25px;
  border-width: 4px;
  border-style: solid;
  border-color: #D6D6D6;
  background: #F6F6F6;

  margin-top: 50px;
  margin-left: 550px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.kurds {
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#islamist-container {
  width: 250px;
  height: 270px;
  border-radius: 25px;
  border-width: 4px;
  border-style: solid;
  border-color: #D6D6D6;
  background: #F6F6F6;

  margin-top: -260px;
  margin-left: 690px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.islamist {
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

#isis-container {
  width: 150px;
  height: 130px;
  border-radius: 25px;
  border-width: 4px;
  border-style: solid;
  border-color: #D6D6D6;
  background: #F6F6F6;

  margin-top: -500px;
  margin-left: 490px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.isis {
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#opposition-container {
  width: 380px;
  height: 330px;
  border-radius: 25px;
  border-width: 4px;
  border-style: solid;
  border-color: #D6D6D6;
  background: #F6F6F6;

  margin-top: -550px;
  margin-left: 1000px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.opposition {
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

hr.line1{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 235px;
  margin-top: -70px;
  margin-left: 455px;
}

hr.line2{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 110px;
  margin-top: 35px;
  margin-left: 200px;
  transform: rotate(90deg);
}

hr.line3{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 60px;
  margin-top: 10px;
  margin-left: 240px;
  transform: rotate(90deg);
}

hr.line4{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 220px;
  margin-top: 40px;
  margin-left: 270px;
}

hr.line5{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 115px;
  margin-top: 340px;
  margin-left: 435px;
}

hr.line7{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 83px;
  margin-top: 325px;
  margin-left: 435px;
}

hr.line6{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 193px;
  margin-top: 230px;
  margin-left: 420px;
  transform: rotate(90deg);
}

hr.line8{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 55px;
  margin-top: 70px;
  margin-left: 945px;
}

hr.line9{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 45px;
  margin-top: 70px;
  margin-left: 645px;
}

hr.line10{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 75px;
  margin-top: 410px;
  margin-left: 845px;
}

hr.line11{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 37px;
  margin-top: 330px;
  margin-left: 1190px;
  transform: rotate(90deg);
}

hr.line12{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 20px;
  margin-top: 340px;
  margin-left: 1185px;
  transform: rotate(90deg);
}

hr.line13{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 350px;
  margin-top: 330px;
  margin-left: 845px;
}

hr.line14{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 85px;
  margin-top: 310px;
  margin-left: 1190px;
  transform: rotate(90deg);
}

hr.line15{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 70px;
  margin-top: 165px;
  margin-left: 555px;
  transform: rotate(90deg);
}

hr.line16{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 53px;
  margin-top: 160px;
  margin-left: 577px;
  transform: rotate(90deg);
}

hr.line17{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 340px;
  margin-top: 185px;
  margin-left: 605px;
}

hr.line18{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 170px;
  margin-top: 270px;
  margin-left: 860px;
  transform: rotate(90deg);

}

hr.line19{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 38px;
  margin-top: 150px;
  margin-left: 600px;
  transform: rotate(90deg);
}

hr.line20{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 340px;
  margin-top: 170px;
  margin-left: 620px;
}

hr.line21{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 123px;
  margin-top: 230px;
  margin-left: 900px;
  transform: rotate(90deg);
}

hr.line22{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 315px;
  margin-top: 313px;
  margin-left: 895px;
}

hr.line23{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 160px;
  margin-top: 230px;
  margin-left: 815px;
  transform: rotate(90deg);
}

hr.line24{
  position: absolute;
	border-top: 3px solid #D6D6D6;
  width: 250px;
  margin-top: 295px;
  margin-left: 960px;
}
