body {
  background: #FFFFFF;
}

#text-container {
  width: 400px;
  position: absolute;
  top: 35%;
  left: 65%;
}

.text {
  font-family: 'Kulim Park', sans-serif;
  font-size: 25px;
  text-align: right;
}

.hello {
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.picture {
  opacity: 0.5;
}

.card:hover {
  cursor: pointer;
}

.description {
  position: absolute;
  display: none;
}

.card {
  position: absolute;
}

#portrait {
  top: 10%;
  left: 15%;
}

#portrait img {
  width: 200px;
}

#abtdes {
  margin-top: 9px;
  margin-left: 140px;
}

#lights {
  top: 20%;
  left: 37%;
}

#lights img {
  width: 200px;
}

#advdes {
  margin-top: -180px;
  margin-left: 77px;
}

#code {
  top: 68%;
  left: 12%;
}

#code img {
  width: 170px;
}

#projdes {
  margin-top: -320px;
  margin-left: -102px;
}

#art {
  top: 50%;
  left: 33%;
}

#art img {
  width: 170px;;
}

#artdes {
  margin-top: -26px;
  margin-left: 184px;
}

#lightpainting {
  top: 53%;
  left: 10%;
  z-index: -1;
}

#lightpainting img {
  width: 90px;
}

#capital {
  top: 73%;
  left: 26%;
}

#capital img {
  width: 90px;
}

#instagram {
  top: -2%;
  left: 26%;
}

#instagram img {
  width: 90px;
}

#beach {
  top: 83%;
  left: -0.1%;
}

#beach img {
  width: 90px;
}
